<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restArea.Model.userDAO">

	<insert id="mainJoin" parameterType="restArea.model.userVO">
		insert into user_info(id, pw) values(#{id}, #{pw})
	</insert>

	<select id="idCheck" resultType="restArea.model.userVO">
		select * from user_info where id = #{id}
	</select>

	<select id="mainLogin" parameterType="restArea.model.userVO" resultType="restArea.model.userVO">
		select * from user_info where id = #{id} and pw = #{pw}
	</select>

	<select id="todayRecomm" resultType="restArea.model.recommVO">
		select * from recomm where recomm_seq = (select TO_CHAR(sysdate, 'dd') from dual)
	</select>

	<select id="todayBook" resultType="restArea.model.bookVO">
		select * from book where book_seq = (select TO_CHAR(sysdate, 'dd') from dual)
	</select>

	<insert id="write" parameterType="restArea.model.writeVO">
		insert into write_board(write_seq, id, category, wdate, title, wcontent)
		values(write_seq.nextval, #{id}, #{category}, sysdate, #{title}, #{wcontent})
	</insert>

	<select id="recommBook" resultType="restArea.model.bookVO">
		select * from book where book_seq = (select TO_CHAR(sysdate, 'dd') from dual)
	</select>

	<select id="garden" resultType="restArea.model.gardenVO">
		select * from user_info where id = #{id}
	</select>

	<select id="viewBoard" resultType="restArea.model.writeVO">
		select * from write_board where id=#{id}
	</select>

	<select id="date" resultType="int">
		select * from write_board where id=#{id} and sysdate-wdate>14
	</select>

	<select id="monthBook" resultType="restArea.model.bookVO">
		select * from book where book_seq between 1 and 5
	</select>

	<select id="viewAnswer" resultType="restArea.model.writeVO">
		select * from (select * from write_board where id != #{id} and category = #{category} order by dbms_random.value)
		where rownum = 1
	</select>

	<insert id="answer" parameterType="restArea.model.answerVO">
		insert into answer_board(answer_seq, id, write_seq, acontent)
		values(answer_seq.nextval, #{id}, #{write_seq}, #{acontent})
	</insert>

	<select id="mycheckWrite" parameterType="restArea.model.writeVO" resultType="restArea.model.writeVO">
		select wcontent from write_board where id=#{id} and write_seq=#{write_seq}
	</select>

	<select id="mycheckAnswer" resultType="restArea.model.answerVO">
		select * from answer_board where write_seq=#{write_seq}
	</select>
	
	<update id="sumReport" parameterType="restArea.model.userVO">
		update user_info
		set rcount = (select sum(CNT) from (
						select count(areport) as CNT from answer_board where id = #{id} 
						union all 
						select count(wreport) as CNT from write_board where id = #{id})
					)
		where id = #{id}
	</update>

</mapper>