<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restArea.Model.userDAO">

	<insert id="mainJoin" parameterType="restArea.model.userVO"> 
		insert into user_info(id, pw) values(#{id}, #{pw})
	</insert>
		
	<select id="idCheck" resultType="restArea.model.userVO">
		select * from user_info where id = #{id}
	</select> 
	
 	<select id="mainLogin" parameterType="restArea.model.userVO" resultType="restArea.model.userVO">
		select * from user_info where id = #{id} and pw = #{pw}
	</select> 	
	
 	<select id="todayRecomm" resultType="restArea.model.recommVO">
 		select * from recomm where recomm_seq = (select TO_CHAR(sysdate, 'dd') from dual)
	</select> 
	 
	<select id="todayBook" resultType="restArea.model.bookVO">
	 	select * from book where book_seq = (select TO_CHAR(sysdate, 'dd') from dual)
	</select>
	
	<insert id="write" parameterType="restArea.model.writeVO">
		insert into write_board(write_seq, id, category, wdate, title, wcontent)
		values(write_seq.nextval, #{id}, #{category}, sysdate, #{title}, #{wcontent})
	</insert>
	
	

</mapper>